$colorBG                  : #252525;
$colorTitle               : #f0f0f0;
$colorModeSwitchBG        : #252525;
$colorModeLightSwitchBG   : #ffffff;
$colorSubtitle            : #e5e5e5;
$colorParagraph           : #d5d5d5;
$colorLinkTitle           : #ffa000;
$colorKBDBg               : rgba(255,255,255,0.2);
$colorKBDText             : #f0f0f0;
$colorTerminalBG          : #FAFAFA;
$colorSectionCaptionBG    : #37474f;
$colorSectionCaptionText  : rgba(255,255,255,0.8);
$colorBorderDividerSubject: rgba(255,255,255,0.3);
$colorRedLoader           : #D32F2F;
$colorRedCopyright        : #D32F2F;
$colorWhiteCopyright      : #252525;
$colorScrollbarShadow     : rgba(255,255,255,0.3);
$colorScrollbarBG         : darkgrey;
$colorScrollbarColor      : slategrey;
$colorSectionHolderBorder : rgba(255,255,255,0.05);
$colorWidgetsGreen        : #28c940;
$colorWidgetsRed          : #ff6057;
$colorWidgetsYellow       : #ffbd2f;
$colorSelection           : #1565c0;
$colorSpanBoxShadow       : #d9d9d9;
$dpxgithubrating-bg       : #303530;
$dpxgithubrating-color    : #f6f8fa;
