$colorBG                  : #FFFFFF;
$colorTitle               : #252525;
$colorModeSwitchBG        : #252525;
$colorModeLightSwitchBG   : #ffffff;
$colorSubtitle            : #353535;
$colorParagraph           : #454545;
$colorLinkTitle           : #2196F3;
$colorKBDBg               : rgba(0,0,0,0.1);
$colorKBDText             : #212121;
$colorTerminalBG          : #212836;
$colorSectionCaptionBG    : #CFD8DC;
$colorSectionCaptionText  : rgba(0,0,0,0.6);
$colorBorderDividerSubject: rgba(69,69,69,0.2);
$colorRedLoader           : #D32F2F;
$colorRedCopyright        : #D32F2F;
$colorWhiteCopyright      : #ffffff;
$colorScrollbarShadow     : rgba(0, 0, 0, 0.3);
$colorScrollbarBG         : darkgrey;
$colorScrollbarColor      : slategrey;
$colorSectionHolderBorder : rgba(0,0,0,0.025);
$colorWidgetsGreen        : #28c940;
$colorWidgetsRed          : #ff6057;
$colorWidgetsYellow       : #ffbd2f;
$colorSelection           : #3BB9FF;
$colorSpanBoxShadow       : #d9d9d9;