@font-face {
  font-family: 'Shabnam';
  font-weight: normal;
  src: url("../assets/fonts/Shabnam/Shabnam.woff") format('woff');
}

@font-face {
  font-family: 'Shabnam';
  font-weight: bold;
  src: url("../assets/fonts/Shabnam/Shabnam-Bold.woff") format('woff');
}

@font-face {
  font-family: 'VazirCode';
  font-weight: normal;
  src: url("../assets/fonts/VazirCode/Vazir-Code.woff") format('woff');
}